/*Inputs con atributo type="text" */
input[type="text"] {
  border: 2px solid blue;
  background-color: #eef;
}

/*Enlaces que comienzan con https */
a[href^="https"] {
  color: green;
  font-weight: bold;
}

/*Enlaces internos (#) */
a[href^="#"] {
  background-color: yellow;
  padding: 3px;
}

/*Inputs con atributo placeholder */
input[placeholder] {
  border-radius: 6px;
  padding: 5px;
}

/*Párrafo que tiene la clase "especial" */
p[class~="especial"] {
  background-color: lightpink;
}
