/* Estilos aplicados a los id */
#cabecera {
    background-color: #333;
    color: white;
    padding: 20px;
}

#formulario-seccion {
    border: 2px solid navy;
    padding: 15px;
    margin: 20px 0;
    background-color: #f0f8ff;
}

#caja1 {
    background-color: salmon;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
#id1{
    color:#1C764E;
    background: radial-gradient(12px, #AEB02A, #9EED37);
    border-radius: 20px;
}