/* Colores con opacidad */

header {
  background-color: rgba(0, 0, 0, 0.7); /* Negro con transparencia */
  color: white;
}

div {
  background-color: rgba(255, 0, 0, 0.3); /* Rojo semitransparente */
}

footer {
  background-color: hsla(200, 100%, 50%, 0.5); /* Azul con opacidad */
}
