a{
    color: red;
    padding: 5px;
}

a[href ^="#" ]{
    border: 7px double pink;
}

a[href$=".com"]{
    color: white;
    background: linear-gradient(200deg, #705854, #C4958D);
}

a[href*="example"]{
    font-family: "fantasy";
    background: linear-gradient(200deg, #5e1887, #2646e5);
}

label[for^="nom"]{
    color: rgb(50, 160, 107);
    border: 3px groove black;
    padding: 2px;
}

label[for$="je"]{
    color: white;
    background: linear-gradient(200deg, #170401, #047728);
    padding: 2px;
}